[Unit]
Description=Restart Cooled Slit Controller Service every 5 minutes
Requires=cooled-slit-controller.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=cooled-slit-controller-restart.service

[Install]
WantedBy=timers.target
