[Unit]
Description=Restart Slit Controller Service
Requires=slit-controller.service

[Service]
Type=oneshot
ExecStart=/opt/slit_controller/scripts/safe_restart.sh

[Install]
WantedBy=multi-user.target
